<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.smalllibrary"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- android:theme="@style/AppTheme" > -->
        <activity
            android:name="com.example.smalllibrary.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.smalllibrary.CameraTestActivity" >
        </activity>
        <activity
            android:name="com.example.smalllibrary.RegistrationActivity"
            android:label="@string/title_activity_registration"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.smalllibrary.SearchBooksActivity"
            android:label="@string/title_activity_search_books"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.example.smalllibrary.ShowSearchBooksResultActivity"
            android:label="@string/title_activity_show_search_books_result"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.smalllibrary.BorrowBooksActivity"
            android:label="@string/title_activity_borrow_book"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.smalllibrary.BorrowBooksLoginActivity"
            android:label="@string/title_activity_borrow_books_login"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.smalllibrary.ShowBorrowBooksResultActivity"
            android:label="@string/title_activity_show_borrow_books_result"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.smalllibrary.ReturnBooksActivity"
            android:label="@string/title_activity_return_books"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.smalllibrary.UpdateRuleActivity"
            android:label="@string/title_activity_update_rule"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.smalllibrary.ManageBooksActivity"
            android:label="@string/title_activity_manage_books"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.smalllibrary.PostAnnouncementActivity"
            android:label="@string/title_activity_post_announcement"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.smalllibrary.ShowAnnouncementActivity"
            android:label="@string/title_activity_show_announcement"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.smalllibrary.ShowAllAnnouncementActivity"
            android:label="@string/title_activity_show_all_announcement"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>
