<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.smalllibrary"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.smalllibrary.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.smalllibrary.CameraTestActivity" >
        </activity>
        <activity
            android:name="com.example.smalllibrary.RegistrationActivity"
            android:label="@string/title_activity_registration" >
        </activity>
        <activity
            android:name="com.example.smalllibrary.SearchBooksActivity"
            android:label="@string/title_activity_search_books" >
        </activity>
        <activity
            android:name="com.example.smalllibrary.ShowSearchBooksResultActivity"
            android:label="@string/title_activity_show_search_books_result" >
        </activity>
        <activity
            android:name="com.example.smalllibrary.BorrowBooksActivity"
            android:label="@string/title_activity_borrow_book" >
        </activity>
        <activity
            android:name="com.example.smalllibrary.BorrowBooksLoginActivity"
            android:label="@string/title_activity_borrow_books_login" >
        </activity>
    </application>

</manifest>
